body{
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 18px;
	width: 100%;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
}

h1, h2{
	text-transform: uppercase;
}

h1 {
	color: white;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.05em;
	font-weight: 400;
	font-size: 45px;
	margin: 0px;
}


a{
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.06em;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}


h2{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 0.08em;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}


p{
	font-family: "Droid Serif", serif;
	color: #0D2C40;
	line-height: 26px;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 20px;
}

header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 0px;

}

nav{
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px 20px 0px;
}

main{
	width: 850px;
	margin: 35px auto;
}

img{
	margin: 40px 8px 0px 8px;
}

footer{
	bottom: 0;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway;
}

.copyright{
	font-family: Raleway;
	float: left;
	color: white;
	font-size: 14px;
	}

.message{
	font-family: Raleway;
	float: right;
	color: white;
	font-size: 14px;
	}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #F15B31;
	font-weight: 700;
	float: right;
}

a:hover{
	border-bottom: 2px solid transparent;
	border-color: white;
}

button{
font-size: 15px;
font-family: "Droid Serif", serif;
color: white;
padding: 15px 25px;
background-color: #00A6B3;
cursor: pointer;
outline: none;
}
