body{
	text-align: center;
	text-decoration: none;
}
h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
}

h2{
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1PX;
	font-weight: 600;
}

p {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}

???
{
	font-family: "Droid Serif", Serif;
	line-height: 26px;
	font-size: 10px;

}